<div class="overlay" ng-show="editPost === true">
  <span class="close-edit" ng-click="editPost=false">X</span>
    <div id="prank-preview">
        <div class="preview-content">
            <div id="preview-logo">
                <img class="edit-logo" ng-src="{{currentEditPost.logo}}">
            </div>
            <div id="preview-content-area">
                <h3 id="preview-headline" contenteditable ng-model="currentEditPost.headline">{{currentEditPost.headline}}</h3>
                <p id="preview-description" contenteditable ng-model="currentEditPost.description">{{currentEditPost.description}}</p>
            </div>
        </div>
    </div>
    <form novalidate class="simple-form" class="edit-fields">
      <span class="form-label">Logo:<u ng-click="replaceLogo()">Fix</u></span> <input type="text" class="editInput" ng-model="currentEditPost.logo" /><br />
      <span class="form-label">Reveal:<u ng-click="replaceReveal()">Fix</u></span> <input type="text" class="editInput" ng-model="currentEditPost.reveal" /><br />
      <button class="editButtons" ng-click="editSave(currentEditPost)">SAVE</button>
    </form>
</div>