/* app css stylesheet */

body {
  background: #f3f3f3;
}

.white {
  background: white;
}

.red {
  color: red;
}

.green {
  color: green;
}

.btn-green {
  background-color: green;
}

.strong-bold {
  font-size: 23px;
  color: #48B15D;
  margin-left: 3px;
  }

.menu-panel {
  z-index: 11;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 190px;
  padding: 0;
  background-color: #34323a;
}

.menu-panel a {
  color: white;
  text-decoration: none;
}
.logo {
  color: white;
  text-align: center;
  background: #4861B1;
  padding: 25px 0;
  font-size: 30px;
  font-family: sans-serif;
}

.active {
  transition: all 0.15s ease-in-out;
  background: black!important;
}

.dashboard-head {
  font-weight: bold;
  font-size: 31px;
  color: #817D7D;
}

ul.left-menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

ul.left-menu a {
  position: relative;
  display: block;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 30px 0 30px 0px;
  background: #34323a;
  font-size: 19px;
  color: #aeb2b7;
  text-align: center;
  cursor: pointer
}

ul.left-menu a:hover{
  transition: all 0.15s ease-in-out;
  background: black;
}

.menu-top {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 67px;
  padding-top: 26px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

input {
  height: 23px;
  padding: 6px 12px;
  font-size: 14px;
  width: 14%;
  margin-right: 232px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: right;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.main-content {
  position: relative;
  padding-left: 210px;
  padding-top: 90px;
}

.table-styled {
  background: white;
  width: 68%;
  margin-top: 30px;
}

.table-styled a{
  text-decoration: none;
  color: black;
}

.table-styled thead {
  background: #fafafa;
  font-size: 14px !important;
}

.table-styled tr:hover {
  cursor: pointer;
  background: #F7F7F7;
}

.table-styled tbody {
  font-size: 13px !important;
}

.table-styled td {
  border-top: 1px solid #ddd;
  padding: 5px 10px;
  text-align: center;
}

.preview-logo {
  max-width: 50px;
}

.stats-tab {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100px;
  margin-bottom: 19px;
  margin-right: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.stats-tab:hover {
  cursor: pointer;
  opacity: 0.8;
}

.overview-stats {
  margin-top: 30px;
}


.icon-edit {
  width: 22px;
  margin-right: 5px;
}

.icon-delete {
  width: 12px;
}

.stats-tab-vertical-first {
  border-left: solid 1px #E7E7E7;
}

.stats-tab-vertical {
  text-align: center;
  width: 200px;
  display: inline-block;
  margin-right: 10px;
  border-right: solid 1px #E7E7E7;
}

.stats-tab-number {
  font-size: 50px;
  font-weight: bold;
  color: rgba(100, 100, 100, 1);
}

.stats-tab-label {
  color: #B6B5B5;
  text-transform: uppercase;
  font-size: 12px;
}

.graph-label {
  margin-top: 29px;
  margin-bottom: 2px;
  font-weight: bold;
  color: rgba(100, 100, 100, 1);
}

.graph-filter {
  font-weight: bold;
  color: rgba(100, 100, 100, 1);
  font-size: 13px;
  margin-bottom: 13px;
}

.filter-item:hover {
  text-decoration: underline;
  cursor: pointer
}