  <div class="main-content" ng-hide="isChat">
      <table class="table-styled">
        <thead>
          <tr>
            <th ng-repeat="categoryHeader in tableCategoryHeaders" ng-click="sortHeader(categoryHeader)">{{categoryHeader}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="post in posts | filter: searchQuery | orderBy: sortOrder" ng-click="navigatePost(post.hash)">  
            <td>{{$index+1}}</td>
            <td><a href="/{{post.hash}}" target="_blank">{{post.hash}}</a></td>
            <td><img class="preview-logo" ng-src="{{post.logo}}"></td>
            <td>{{post.date}}</td>
            <td>{{post.name}}</td>
            <td>{{post.comment}}</td>
            <td>{{post.headline}}</td>
            <td><img class="icon-delete" ng-src="http://i.imgur.com/gPMw7dl.png" ng-click="deleteComment(post)"></td>
          </tr>
        </tbody>
      </table>

  </div>